<div style="width: 300px">
  <div>
    <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Playerlist
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let player of allPlayers">
          <mat-divider></mat-divider>
          <mat-checkbox 
          (change)="togglePlayer(player)"
          style="width: 100%;" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="float: left;">person</mat-icon>
            <div fxFlexOffset="15" fxLayout="column" fxLayoutAlign="space-between start">
              <div>{{player.name}}</div>
              <!-- <div *ngIf="player.playerID"><i><small>{{player.playerID}}</small></i></div> -->
            </div>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary">
    Submit
  </button>
  <button mat-raised-button color="secondary">
    Cancel
  </button>
  </div>
</div>