<div style="width: 300px">
  <!-- <mat-form-field fxLayout="row">
    <mat-label> register new player</mat-label>
    <input #nameInput matInput type="text" 
    maxlength="15"
    [(ngModel)]="playerName" (keyup.enter)="addPlayer()">
  </mat-form-field>
  <button mat-raised-button color="primary" 
  (click)="addPlayer()" [disabled]="!playerName.trim()">Add</button> -->

  <div>
    <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Playerlist
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let player of allPlayers">
          <mat-divider></mat-divider>
          <mat-checkbox 
          (change)="togglePlayer(player)"
          style="width: 100%;" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="float: left;">person</mat-icon>
            <div fxFlexOffset="15" fxLayout="column" fxLayoutAlign="space-between start">
              <div>{{player.name}}</div>
              <!-- <div *ngIf="player.playerID"><i><small>{{player.playerID}}</small></i></div> -->
            </div>
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
<!-- 
  <div *ngFor="let player of playerToGamelist">
    <p>{{player.name}}</p>
  </div> -->
</div>