.header{
    display: flex;
    width: 100%;
    padding: 1rem;
    /* background-color: rgb(69, 105, 62); */
    /* background-color: #729f98; */
    /* background-color: #3fb0ac; */
    background-color: rgb(146, 146, 146);
    position: fixed;
    top: 0;
}

.title{
    font-size: 3rem;
    color: aliceblue;
    justify-content: center;
    font-family: 'Monaco';
}
.display-4{
    margin: auto;
    color: rgb(221, 221, 221);
}

.navbar {
    box-shadow:  0px 5px 30px 5px #343a40;
}