.header{
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: rgb(69, 105, 62);
}

.title{
    font-size: 3rem;
    color: aliceblue;
    justify-content: center;
    font-family: 'Monaco';
}
.display-4{
    margin: auto;
    color: rgb(221, 221, 221);
}
