.header{
    display: flex;
    width: 100%;
    background-color: darkgreen;
}

.title{
    font-size: 28px;
    color: aliceblue;
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
}

h2 {
    text-align: center;
}

.body {
    display:flex;
}
.selection {
    flex-direction: row;
    justify-content: space-around;
}