
    <nav class="navbar bg-dark fixed-top" [routerLink]="['/main']">
      <div class="display-4 title" style="margin: auto; color: #c7c7c7; font-family: color_basic;" >
        Welcome to the <span style="color: #fae73d;" > {{ title }}! </span>
      </div>
      <mat-divider></mat-divider>
    </nav>
    <div style="margin-top: 3%; padding-top: 5rem;">
        <router-outlet></router-outlet>
    </div>
    <footer>
      <div class="foot">
        <p style="color: #fae73d; padding-top: 35rem;"> Copyrights Skat-limited </p>
        <p style="color: #343a40;"> owner1: 'Maximilian Schaller', owner2: 'Johann Schneider' </p>
      </div>
    </footer>
