
  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; background-color: #f3f3f3;">
    <div *ngFor="let name of displayedColumns">
      <ng-container matColumnDef="{{name}}">
        <th @fade mat-header-cell *matHeaderCellDef> <h5 style="font-family: Monaco; color: #343a40; font-size: 11;">{{name}}</h5> </th>
        <td @fade mat-cell *matCellDef="let element" style=" font-family: Monaco; color: #343a40; font-size: 9;"> {{element[name]}}</td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->


  <table mat-table [dataSource]="rounds" class="mat-elevation-z8" style="width: 100%; background-color: #f3f3f3;">

    <!-- Round Number -->
    <ng-container matColumnDef="gameRound">
      <th mat-header-cell *matHeaderCellDef>
        <h5 class="table-header">
          Round
        </h5>
      </th>
      <td class="table-entry" *matCellDef="let element"> {{ element.gameRound }} </td>
    </ng-container>

    <!-- Name Column -->
    <div *ngFor="let name of players">
      <ng-container matColumnDef="{{name.name}}">
        <th mat-header-cell *matHeaderCellDef>
          <h5 class="table-header">
            {{name.name}} 
          </h5>
        </th>
          <td class="table-entry" *matCellDef="let element"> {{ element[name.name] }}</td>
      </ng-container>
    
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>