<div>
  <mat-card class="card" (click)="addPlayers()">
    <mat-card-header>
      <mat-card-title> Add Player </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="card" (click)="assignPlayers()">
    <mat-card-header>
      <mat-card-title> Select Player </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="card" (click)="startNewGame()">
    <mat-card-header>
      <mat-card-title> New Game </mat-card-title>
    </mat-card-header>
  </mat-card>
  <p style="color: red;"> {{errorMessage}} </p>
</div>
