<!-- <img src="https://static.anychart.com/images/gallery/v8/line-charts-line-chart.png" style="width: 100%; height:200px; overflow: cropped;"> -->

<div class="chart-wrapper" style="width: 100%; background-color: rgb(255, 254, 247);">
  <canvas baseChart 
      [(datasets)]="lineChartData" 
      [labels]="lineChartLabels" 
      [options]="lineChartOptions"
      [colors]="lineChartColors" 
      [legend]="lineChartLegend" 
      [chartType]="lineChartType" 
      [plugins]="lineChartPlugins">
  </canvas>
</div>