@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;

}

@font-face {
    font-family: color_basic;
    src: url(assets/fonts/Fipps_Regular.otf) format(opentype);
}