.example-card {
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: linear-gradient( #84aed6, pink);
  }
  

  .mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
}