<div>
  <!-- <h2 style="font-family: Monaco; color: #343a40;">What do you wanna do?</h2> -->

  <div class="body selection">
    <app-card [option]=option[0] source="https://lh3.googleusercontent.com/proxy/w7lnAq93s7MiFPusbr_OH2nHBKDaBfLP4Y3ubQ2sqcaRKUFE6bvMD8nyvuWxP4hwfkwpbb0QBFJz_644dxqeJMbzLfXZQS-D" routerLink="/highscore"></app-card>
    <app-card [option]=option[1] source="https://lh3.googleusercontent.com/proxy/0TWK3rclhQS0UxH5nacVxW1tefejfaVrVLxVeM9u3MG3TfcC4961m1-yAMGpAFV-oathZa22dguOZ3afxtHXv8OWWJt9yK8m" routerLink="/game"></app-card>
  </div>
</div>