

.input-group {
    width: 50%;
    padding-bottom: 1rem;
    float: left;
  }

.game {
  width: 90%;
  margin: auto;
}

.mat-table-sticky {
  border-right: 1px solid #e0e0e0;
}

.highscore {
  border: 1px solid rgb(92, 92, 92);
  border-radius: 5px;
  font-family: Monaco;
  font-size: larger;
  float: right;
  padding: 0.3rem;
}