<div class='game'>  
  <div style="width: 90%; margin: auto; padding-top: 2rem;">
  <h1 class="display-5" style="color: #343a40; font-family: Monaco;"> let us play</h1>
  <div>
    <div *ngIf="!mobile" class="input-group" style="width: 60%;">
      <input #input type="text" class="form-control" placeholder="Write your names to add em"aria-describedby="button-addon4" (keyup.enter)="onUsernameInput(input.value); input.value=''" style="font-family: Monaco;">
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button" (click)="onUsernameInput(input.value); input.value='' " style="font-family: Monaco;">Add</button>
        <button class="btn btn-outline-secondary" type="button" (click)="removeUser() " style="font-family: Monaco;">Remove</button>
      </div>
    </div>
    <div *ngIf="mobile">
      <input #input type="text" class="form-control" placeholder="Write your names to add em"aria-describedby="button-addon4" (keyup.enter)="onUsernameInput(input.value); input.value=''" style="font-family: Monaco;">
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button" (click)="onUsernameInput(input.value); input.value='' " style="font-family: Monaco;">Add</button>
        <button class="btn btn-outline-secondary" type="button" (click)="removeUser() " style="font-family: Monaco;">Remove</button>
      </div>
    </div>
    <div *ngIf="!mobile" class="highscore">
      <!-- TO DO: Highscore anzeigen nebeneinander. -->
      HIGHSCORE: {{highscore}}
    </div>
  </div>

  <mat-tab-group class="shadow rounded" style="width: 100%;" color="accent">
    <mat-tab label="Table">
      <div *ngIf="!mobile" >
        <div style="float: left; width: 50%;">
          <app-table [(displayedColumns)]="displayedColumns"></app-table>
          </div>
          <div style="float: right; width: 50%;">
            <app-charts [dataOption]=chartOption[0]></app-charts>
          </div>
      </div>
      <div *ngIf="mobile">
        <div style="width: 100%;">
          <app-table [(displayedColumns)]="displayedColumns"></app-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Charts">
      <div *ngIf="!mobile">
        <div style="display: flex;">
          <div style="width: 50%;">
            <app-charts [dataOption]=chartOption[0]></app-charts>
          </div>
          <div style="width: 50%">
            <app-charts [dataOption]=chartOption[1] [isLabel]="false"></app-charts>
          </div>
        </div>
      </div>
      <div *ngIf="mobile">
          <div style="width: 100%;">
            <app-charts [dataOption]=chartOption[0]></app-charts>
          </div>
          <div style="width: 100%">
            <app-charts [dataOption]=chartOption[1] [isLabel]="false"></app-charts>
          </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  
  <div style="display: flex; flex-direction: column; width: 100%; margin-top: 1rem;">
    <div>
      <ng-container>
          <mat-form-field color="accent">
            <mat-label style="font-family: Monaco;">Gespielt:</mat-label>
            <mat-select [(value)]="DATA_ROW_temp.Gespielt">
              <mat-option *ngFor="let name of names" [value]="name" style="font-family: Monaco;">
                {{name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </ng-container>
      <ng-container>
          <mat-form-field color="accent">
            <mat-label style="font-family: Monaco;">Farbe:</mat-label>
            <mat-select [(value)]="DATA_ROW_temp.Farbe">
              <mat-option *ngFor="let color of farbe" [value]="color" style="font-family: Monaco;">
                {{color}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </ng-container>
      <ng-container>
          <mat-form-field color="accent">
            <mat-label style="font-family: Monaco;">Unter</mat-label>
            <mat-select [(value)]="DATA_ROW_temp.Unter">
              <mat-option *ngFor="let u of unter" [value]="u" style="font-family: Monaco;">
                {{u}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </ng-container>
      <ng-container>
          <mat-form-field color="accent">
            <mat-label style="font-family: Monaco;">Specs:</mat-label>
            <mat-select [formControl]="specs_form" multiple (selectionChange)="game_select('Specs', $event.value)">
              <mat-option *ngFor="let sp of specs" [value]="sp" style="font-family: Monaco;">
                {{sp}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
      </ng-container>
      <ng-container>
          <mat-checkbox (change)="game_select('Bock', $event.checked)" style="font-family: Monaco; margin: 1%">Bock</mat-checkbox>
      </ng-container>
      <p style="color: red; font-family: Monaco;"> {{ errorMessage }}</p>
        <span style="display: flex; padding-bottom: 1rem;">
          <app-gradient-button (click)="form_submit()">
            Submit
          </app-gradient-button>
        </span>
    </div>
  </div>
</div>
</div>