

.input-group {
    width: 50%;
    padding-bottom: 1rem;
    float: left;
  }

.game {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 2px rgb(92, 92, 92);
}


.highscore {
  border: 1px solid rgb(92, 92, 92);
  border-radius: 5px;
  font-family: Monaco;
  font-size: larger;
  float: right;
}
